.axie-preview{
  $classes: (
    "aquatic": #00b8ce,
    "beast": #ffb812,
    "bug": #ff5341,
    "bird": #ff8bbd,
    "plant": #6cc000,
    "reptile": #dc8be4,
    "weth": #046cfc,
  );
  position: relative;
  display: inline-block;
  border-radius: 4px;
  margin: 10px;
  width: 150px;
  vertical-align: top;

  .axie {

    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    opacity: 0.8;
    transform: scale(0.9);
    border: 2px solid rgba(black, 0.3);
    transition:  all 0.4s;

    @each $class, $color in $classes {
      &.axie-#{$class} {
        background: rgba($color, 0.2);
        border-color: rgba($color, 0.7);
      }
    }

    &:hover{
      opacity: 1;
      transform: scale(1);
    }

    .class {
      position: absolute; 
      top: 5px; 
      right: 5px;
      opacity: 0.5;
      text-transform: uppercase;
      font-weight: bold;
    }
    .breed-count{
      position: absolute; 
      top: 5px; 
      left: 5px;
      opacity: 0.5;
      text-transform: uppercase;
      font-weight: bold;
    }
    .visual {   
      height: 80px; 
      position: relative;
      display: block;
      background-size: cover;
      background-position: center;
    }
    .parts{
      .part {
        position: relative; 
        display: block;
        font-size: 0.6em; 
        background: rgba(black, 0.4); 
        border-radius: 4px;
        padding: 3px 8px; 
        margin: 5px;
        @each $class, $color in $classes {
          &.part-#{$class} {
            background: rgba($color, 0.7);
          }
        }
      }
    }

    .auction-ended {
        position: absolute;
        bottom: -20px; 
        font-weight: bold;
        text-transform: uppercase;
        background: #990011;
        color: white;
        padding: 5px 12px;
        border-radius: 8px;
        font-size: 1.1em;
        left: 50%;
        transform: translateX(-50%);
    } 

    .auction-running{
      padding: 5px;
      padding-bottom: 15px;
      .prices{
        position: relative;
        text-align: right;
        font-weight: bold;
        .start{
          float: left;
        }
        .current{
          position: absolute;
          top: 56px; 
          background: #046cfc;
          color: white;
          padding: 5px 12px;
          border-radius: 8px;
          font-size: 1.1em;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .duration-progress{
        font-size: 0.8em;
        text-align: center;
        padding: 5px;
        .bar-holder{
          height: 10px; 
          background: rgba(white, 0.1);
          margin-bottom: 3px;
          .bar{
            height: 100%;
            background: rgba(white, 0.3);
          }
        }
      }
    }
  }
  
  
}
